services:
  - type: web
    name: telegram-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: TELEGRAM_TOKEN
        value: "7306181828:AAH7aa9zHAv9V0PW-yxJgtiFo_Pq42SSOzI"