version: "1"
services:
  - type: web
    name: telegram-task-bot
    env: python
    runtime: python3.13
    region: frankfurt
    plan: free
    branch: main
    buildCommand: |
      python --version
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: python bot.py
    autoDeploy: true
    envVars:
      - key: TELEGRAM_TOKEN
        sync: false
      - key: PYTHON_VERSION
        value: "3.13.0"
